@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import "index";

#my-editor-container {
	margin: 40px 0 0 80px;
}

.megadraft-editor .DraftEditor-root {
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 16px;
}

#my-editor {
	width: 100%;
	font-family: monospace;
	padding: 6px;
	margin-bottom: 40px;
}
