.thumbnail {
	border: none;
	display: inline-block;
	text-align: left;
	margin: 20px;
	img{
		width: 130px;
	}
}

.resumable-list ul{
	text-align: center;
	display: inline-block;
}
.resumable-list li.thumbnail a {
	background: url("https://cdn.tn.com.ar/sites/all/themes/hudson/images/ico-trash-light-background.svg") 10px no-repeat;
	font-size: .9em;
	margin-right: 5px;
	display: block;
	color: transparent;
	text-align: center;
}

.resumable-list li.thumbnail a::after {
	content: "Quitar";
	font-size: .8125em;
	color: rgba(0,0,0,.38);
	margin-left: 4px;
}

.form-actions {
	clear: both;
}
