<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Smoke Editor</title>
	</head>
	<body>
		<div class="container-fluid">
			<h1>Smoke Editor</h1>
			<textarea id="my-editor" name="my-editor-name">
				<%= htmlWebpackPlugin.options.editorDefault %>
			</textarea>
		</div>
	</body>
</html>
